*,
*:before,
*:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.language {
    img{
        float: right;
        padding-left: 5px;      
    }
}

.pageStyle{
    background-color: $page-bg;
    position: relative;
    border: 2px solid $auctionBlue;
    font-family: $font-family-sans-serif;
    font-size: 15px;
}

.navResponsive{
    background-color: $auctionBlue;
    height: 30px;
    a{
        color: white;
    }
}

section{
    padding-top: 30px;
    padding-bottom: 30px;
    color: $auctionBlue;
    font-weight: bold;
    p{
        text-align: justify;
        text-indent: 15px;
        font-size: 12px;
        font-weight: 300;
    }
    h4{
        font-size: 15px;
        }
    h1{
        text-align: center;
        font-weight: bold;
    }
}

.headerData{
    padding: 5px 20px;
    color: $auctionBlue;

    h4{
        line-height: 0.8;
        font-size: 15px;
    }
}

.slideshowStyle{
    border-top: 3px solid black;
    border-bottom: 3px solid black;
    margin-bottom: 3px;
}

table{
    img{
        width: 100px;
    }
}

footer{
    background-color: $auctionBlue;
    text-align: -webkit-center;

    color: white;
    a{
        color: white;
    }
}

  @media (min-width: 768px) {
      .lgResolutionBackground{
          background-color: $auctionBlue;
      }
  }

  .currentAuctionStyle{
      table{
          margin: auto;
          border: 1px solid $auctionBlue;
      }
  }
